
{% extends 'base.html' %}

{% load static %}

{% block content %}

			<div class="content"><div class="ic">More Website Templates @ TemplateMonster.com - April 07, 2014!</div>
			<div class="container_12">
				{% for service in services %}
				<div class="grid_4">
					<div class="box">
						<div class="maxheight">
							<img src="{{ service.image.url }}" alt="">
							<div class="text1 color2">
								<a href="{{ service.link }}">{{ service.title }}</a>
							</div>
							{{ service.description|truncatewords:20 }}
							<br>
							<a href="{{ service.link }}" class="btn">Read More</a>
						</div>
					</div>
				</div>
				{% endfor %}
				<div class="clear"></div>
			</div>
			
			</div>
		</div>
	
		{% endblock %}